<% include header.ejs %>
<link href="/css/prism.css" rel="stylesheet">
<script src="/javascripts/prism.js"></script>
<div class="middle-category">
	<div class="container">
		<ul class="middle-category-nav" id = "article-categories">
			<% if( tags && tags.length > 0){ %>
				<% tags.forEach(function(tag){ %>
					<li><a href="/article/list/<%- tag.id %>/1"><div class="article-tag"><%= tag.name %>（<%=tag.articles.length%>）</div></a></li>
				<% }) %>
			<% } %>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 article">
			<header>
				<h2><%= article.title %></h2>
				<footer class="articleFooter">
					<label class="label-author"><% if(article.author) { %><%= article.author.nickname %><%}%></label>
					<% if( article.tags && article.tags.length > 0){ %>
						<% article.tags.forEach(function(tag){ %>
							<a href="/article/list/<%- tag.id %>/1"><button type="button" class="btn btn-info btn-xs"><%= tag.name %></button></a>
						<% }) %>
					<% } %>
					<time class="post-date"><%= moment(article.createdAt).format("YYYY-MM-DD HH:mm:ss")%></time>
				</footer>

			</header>
			<article><%- article.html %></article>
		</div>
		<!-- <div class="col-md-1"></div> -->
		<div class="col-md-2" id="hot-articles"></div>
	</div>
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="article_<%- article.id %>" data-title="<%- article.title %>" data-url="<%- articleUrl %>/article/detail/<%- article.id %>"></div>
	<!-- 多说评论框 end -->
</div>
<script type="text/javascript">
	ajaxHotArticles();
</script>

<% include footer.ejs %>
