<% include header.ejs %>
<div class="middle-category">
	<div class="container">
		<ul class="middle-category-nav" id = "book-categories">
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 book-list">
			<table  id="book-table">
				<tbody id="book-list-body">
					<tr>
						<td>
							<img src="/<%= book.cover_url %>" class="img-thumbnail admin-thumbnail">
						</td>
						<td>
							<div class="book-detail-info">
								<h4><%= book.name %></h4>
								<p><%= book.publishing_house %></p>
								<p><%= book.publishing_date %></p>
							</div>
						</td>
						<td class="left-line">
							<h5>豆瓣评分</h5>
							<h1><%= book.douban_rate %></h1>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="panel panel-default download-panel">
			 	<div class="panel-heading">
			 		<h3 class="panel-title">下载专区</h3>
			 	</div>
				<div class="panel-body">
				    <a href="<%- book.download_url%>"><button class="btn btn-primary book-hor">点击下载</button></a>
				    <p class="book-hor book-remark">查看:
			 			<% if(book && book.visit_number) { %>
			 			<%= book.visit_number %>
			 			<%}else { %>
			 			0
			 			<%}%>
			 			次			 		</p>
			 		<p class="book-hor book-remark">下载:
			 			<% if(book && book.download_number) { %>
			 			<%= book.download_number %>
			 			<%}else { %>
			 			0
			 			<%}%>
			 			次
			 		</p>
			 		<div style="clear:both;"></div>
			      <p class="book-op-mark"><%= book.download_remark %></p>
   				</div>
			</div>
			<div class="panel panel-danger buy-panel">
				<div class="panel-heading">
			 		<h3 class="panel-title">购买专区</h3>
			 	</div>
				<div class="panel-body">
      				<a href="<%- book.buy_url%>"><button class="btn btn-danger">跳转到购买商城</button></a>
			     	<p class="book-op-mark"><%= book.buy_remark %></p>
   				</div>
			</div>
			<div class="bookdetail-summary">
				<h4>内容简介  · · · · · ·</h4>
				<p><%= book.summary %></p>
			</div>
			<div class="bookdetail-summary">
				<h4>目录  · · · · · ·</h4>
				<pre><code class="language-Makedown">
				<p><%= book.markdown %></p>
				</code></pre>
			</div>
			<div>
  				<h4 id="like-recommends-title">喜欢读《<%=book.name%>》的同学也喜欢读:</h4>
  				<div class="row" id="likeBookRecommends">
  				<p id="load" class="loadtext">正在为您推荐,请稍后......</p>
  				</div>
			</div>
		</div>
		<div class="col-md-4" id="hotdownloadBlock">
		</div>
	</div>
</div>
<script src="/javascripts/prism.js"></script>
<script type="text/javascript">
function ajaxLikeBookRecommends(){
	var url = '/book/likeBookRecommends/';
	url += <%= locals.book.id %>;
	console.log(url);
	$.ajax({
		type:'get',
		async:true,
		cache:true,
		dataType:"json",
		url:url,
		success:function (recommendBooks){
			console.log(recommendBooks);
			if (recommendBooks.length > 0){
				$("#load").remove();
			} else  {
				$("#load").remove();
				$("#like-recommends-title").remove();				
			}
			for (var i=0;i<recommendBooks.length;i++) {
				var aBook = recommendBooks[i];

				var dom = "<div class=\"col-md-3\">";
				dom += "<div class=\"recommend-item\">";
				dom += "<a href=\"/book/detail/"
				dom += aBook.id;
				dom += "\" class=\"text-center\">";
				dom += "<img src=\"/"
				dom += aBook.cover_url
				dom += "\" class=\"img-responsive center-block img-thumbnail admin-thumbnail\">"
				dom += "<h6>"
				dom += aBook.name;
				dom += "</h6>";
				dom += "</a>";
				dom += "</div>";
				dom += "</div>";

				$("#likeBookRecommends").append(dom);
			}
		}
	})
}	
ajaxLikeBookRecommends();
ajaxHotdownloads();
</script>
<% include footer.ejs %>